.root {
  height: 50px;
  width: 200px;
  display: flex;
  background-color: #40424e;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-right: 5px;
  margin-top: 10px;
}

.name {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.icon,
.short_name,
.fullname {
  margin: 0;
}

.short_name,
.fullname {
  text-align: left;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

.fullname,
.amount_percents_profit,
.amount_percents_loss {
  font-size: 12px;
}

.fullname {
  color: grey;
}

.amount {
  text-align: right;
  margin: 0;
  padding-right: 10px;
}

.amount_crypto,
.amount_dollars,
.amount_percents_profit,
.amount_percents_loss {
  margin: 0;
}

.amount_percents_profit {
  color: #0cda88;
}

.amount_percents_loss {
  color: #ff7976;
}